@import url("https://fonts.googleapis.com/css?family=Cairo");
 	* {
 	font-family: "sans-serif", Cairo;
 	}
 	.container {
 	width: 780px;
 	}
 	.container-fluid:after,
 	.container-fluid:before,
 	.container:after,
 	.container:before {
 	display: table;
 	content: " ";
 	}
 	/*------------------------------------*\
 	نبذة
 	\*------------------------------------*/
 	#about {
 	padding-top: 15px;
 	padding-right: 0;
 	}
 	#about img {
 	width: 760px;
 	height: 300px;
 	padding-bottom: 15px;
 	}
 	a:link {
 	text-decoration: none;
 	}
 	.ficon {
 	color: #af9c6d;
 	text-decoration: none;
 	}
 	/*------------------------------------*\
 	الاحداث
 	\*------------------------------------*/
 	.thm-titlecustomstyle {
 	font-size: 18px;
 	color: #062a54;
 	font-weight: 700;
 	margin: 0 0 2em 0;
 	border-right-width: 0.5em;
 	border-right-style: solid;
 	border-right-color: #af9c6d;
 	padding: 0.2em 0.3em 0.2em 0.3em;
 	font-family: Cairo;
 	}
 	.vc_custom_1488190439967 {
 	padding-bottom: 0px !important;
 	}
 	.vc_custom_1490246894410 {
 	background-color: #ffffff !important;
 	}
 	.themeum-topstories-control {
 	position: absolute;
 	left: 0;
 	top: 0;
 	font-size: 24px;
 	}
 	.themeum-topstories-control a.left {
 	margin-left: 8px;
 	margin-right: 8px;
 	}
 	.themeum-topstories-item img {
 	margin-bottom: 20px;
 	width: 100%;
 	}
 	.themeum-topstories-item,
 	.entry-title a:hover,
 	.themeum-topstories-item a {
 	color: #062a54;
 	}
 	.themeum-topstories-item .entry-title {
 	font-size: 16px;
 	margin: 25px 0 25px;
 	font-weight: normal;
 	}
 	.themeum-topstories-item .entry-title a {
 	color: #062a54;
 	text-decoration: none;
 	}
 	.themeum-topstories-item a {
 	color: #a7a7a7;
 	}
 	.themeum-topstories-item .btn-top-stories {
 	text-transform: uppercase;
 	font-weight: 600;
 	font-size: 14px;
 	}
 	.themeum-topstories-item .entry-date {
 	font-size: 14px;
 	}
 	.review-item-image img {
 	height: 300px;
 	-webkit-transition: 0.3s;
 	transition: 0.3s;
 	}
 	.carousel {
 	position: relative;
 	}
 	.carousel-inner > .item > a > img,
 	.carousel-inner > .item > img,
 	.img-responsive {
 	display: block;
 	max-width: 100%;
 	height: auto;
 	}
 	.carousel-inner {
 	position: relative;
 	width: 100%;
 	overflow: hidden;
 	}
 	.carousel-inner > .item {
 	position: relative;
 	display: none;
 	-webkit-transition: 0.6s ease-in-out left;
 	-o-transition: 0.6s ease-in-out left;
 	transition: 0.6s ease-in-out left;
 	}
 	.carousel-inner > .item > a > img,
 	.carousel-inner > .item > img {
 	line-height: 1;
 	}
 	@media all and (transform-3d), (-webkit-transform-3d) {
 	.carousel-inner > .item {
 	-webkit-transition: -webkit-transform 0.6s ease-in-out;
 	-o-transition: -o-transform 0.6s ease-in-out;
 	transition: transform 0.6s ease-in-out;
 	-webkit-backface-visibility: hidden;
 	backface-visibility: hidden;
 	-webkit-perspective: 1000px;
 	perspective: 1000px;
 	}
 	.carousel-inner > .item.active.right,
 	.carousel-inner > .item.next {
 	left: 0;
 	-webkit-transform: translate3d(100%, 0, 0);
 	transform: translate3d(100%, 0, 0);
 	}
 	.carousel-inner > .item.active.left,
 	.carousel-inner > .item.prev {
 	left: 0;
 	-webkit-transform: translate3d(-100%, 0, 0);
 	transform: translate3d(-100%, 0, 0);
 	}
 	.carousel-inner > .item.active,
 	.carousel-inner > .item.next.left,
 	.carousel-inner > .item.prev.right {
 	left: 0;
 	-webkit-transform: translate3d(0, 0, 0);
 	transform: translate3d(0, 0, 0);
 	}
 	}
 	.carousel-inner > .active,
 	.carousel-inner > .next,
 	.carousel-inner > .prev {
 	display: block;
 	}
 	.carousel-inner > .active {
 	left: 0;
 	}
 	.carousel-inner > .next,
 	.carousel-inner > .prev {
 	position: absolute;
 	top: 0;
 	width: 100%;
 	}
 	.carousel-inner > .next {
 	left: 100%;
 	}
 	.carousel-inner > .prev {
 	left: -100%;
 	}
 	.carousel-inner > .next.left,
 	.carousel-inner > .prev.right {
 	left: 0;
 	}
 	.carousel-inner > .active.left {
 	left: -100%;
 	}
 	.carousel-inner > .active.right {
 	left: 100%;
 	}
 	.carousel-inner {
 	backface-visibility: hidden;
 	}
 	.carousel-fade .carousel-inner .item {
 	-webkit-transition-property: opacity;
 	transition-property: opacity;
 	-webkit-transform: translateZ(0);
 	transform: translateZ(0);
 	}
 	.carousel-fade .carousel-inner .item {
 	opacity: 0;
 	}
 	.carousel-fade .carousel-inner .active {
 	opacity: 1;
 	}
 	.carousel-fade .carousel-control {
 	z-index: 2;
 	}
 	.carousel-fade .carousel-inner .item,
 	.carousel-fade .carousel-inner .active.left,
 	.carousel-fade .carousel-inner .active.right {
 	opacity: 0;
 	}
 	.carousel-fade .carousel-inner .active,
 	.carousel-fade .carousel-inner .next.left,
 	.carousel-fade .carousel-inner .prev.right {
 	opacity: 1;
 	}
 	.carousel-fade .carousel-inner .next,
 	.carousel-fade .carousel-inner .prev,
 	.carousel-fade .carousel-inner .active.left,
 	.carousel-fade .carousel-inner .active.right {
 	-webkit-transform: translate3d(0, 0, 0);
 	transform: translate3d(0, 0, 0);
 	}
 	.ads-meta-date {
 	display: inline;
 	font-size: 14px;
 	color: #af9c6d;
 	}
 	.ads-meta-date i {
 	color: #062a54;
 	margin-left: 5px;
 	}
 	.ads-meta-date em {
 	color: #062a54;
 	margin-left: 5px;
 	}
 	.ads-meta-location {
 	padding-right: 50px;
 	display: inline;
 	font-size: 14px;
 	color: #af9c6d;
 	}
 	.ads-meta-location i {
 	color: #062a54;
 	margin-left: 5px;
 	}
 	.ads-meta-location em {
 	color: #062a54;
 	margin-left: 5px;
 	}
 	/*------------------------------------*\
 	الاقسام الاكاديمة
 	\*------------------------------------*/
 	main {
 	margin-top: 5px;
 	padding-bottom: 5px;
 	background: #fff;
 	}
 	.section {
 	display: none;
 	padding: 20px 0 0;
 	border-top: 1px solid #ddd;
 	border-bottom: 1px solid #ddd;
 	}
 	input {
 	display: none;
 	}
 	label {
 	display: inline-block;
 	margin: 0 0 -1px;
 	padding: 15px 25px;
 	font-weight: 600;
 	text-align: center;
 	color: #bbb;
 	border: 1px solid transparent;
 	}
 	label:before {
 	font-family: fontawesome;
 	font-weight: normal;
 	margin-left: 10px;
 	}
 	label[for="tab1"]:before, label[for="tab2"]:before {
 	content: "\f19d";
 	}
 	label[for*="3"]:before {
 	content: "\f022";
 	}
 	label:hover {
 	color: #888;
 	cursor: pointer;
 	}
 	input:checked + label {
 	color: #555;
 	border: 1px solid #ddd;
 	border-top: 2px solid #af9c6d;
 	border-bottom: 1px solid #fff;
 	}
 	#tab1:checked ~ #content1,
 	#tab2:checked ~ #content2 {
 	display: block;
 	}
 	.sectiontitle {
 	margin-top: 10px;
 	font-size: 14px;
 	line-height: 1.9;
 	color: #000;
 	}
 	ul.elements {
 	columns: 2;
 	list-style: none;
 	padding-right: 10px;
 	text-align: right;
	min-height: 120px;
 	margin-bottom: 30px;
 	}
 	ul.elements li {
 	margin: 6px 0;
 	font-size: 16px;
 	}
 	ul.elements a {
 	color: #000;
 	}
 	ul.elements li > a > i {
 	color: #af9c6d;
 	display: inline-block;
 	margin-left: 10px;
 	}
 	ul.elements li > a > em {
 	color: #af9c6d;
 	display: inline-block;
 	margin-left: 10px;
 	}
 	.fa-angle-right {
 	padding-right: 5px;
 	color: #af9c6d;
 	}
 	@media screen and (max-width: 650px) {
 	label {
 	font-size: 0;
 	}
 	label:before {
 	margin: 0;
 	font-size: 18px;
 	}
 	}
 	@media screen and (max-width: 400px) {
 	label {
 	padding: 15px;
 	}
 	}
 	/*------------------------------------*\
 	الاخبار
 	\*------------------------------------*/
 	.c-image {
 	float: left;
 	width: 48%;
 	margin-right: 3%;
 	}
 	.c-image img {
 	width: 100%;
 	}
 	.c-text {
 	float: left;
 	width: 49%;
 	}
 	.sc-image {
 	float: left;
 	width: 30%;
 	margin-left: 3%;
 	}
 	.sc-image img {
 	width: 100%;
 	}
 	.sc-text {
 	float: left;
 	width: 67%;
 	}
 	.s-grid-left {
 	float: left;
 	width: 49%;
 	margin-right: 2%;
 	}
 	.s-grid-right {
 	float: right;
 	width: 49%;
 	}
 	.cricket h3 {
 	background: #00496d;
 	color: #fff;
 	font-size: 1.5em;
 	font-weight: 400;
 	padding: 9px 10px 5px 10px;
 	font-family: Cairo;
 	margin-bottom: 1em;
 	}
 	.s-grid-small {
 	margin-top: 1.5em;
 	}
 	a.power {
 	color: #202021;
 	font-size: 1em;
 	font-weight: bold;
 	text-transform: lowercase;
 	display: block;
 	text-decoration: none;
 	}
 	a.power:hover {
 	color: #af9c6d;
 	}
 	.c-text p {
 	color: #000;
 	font-size: 0.95em;
 	font-weight: 300;
 	text-transform: uppercase;
 	}
 	.sc-text p {
 	color: #000;
 	font-size: 0.95em;
 	font-weight: 300;
 	text-transform: uppercase;
 	}
 	a.reu {
 	font-size: 0.95em;
 	font-weight: 400;
 	color: #af9c6d;
 	text-transform: capitalize;
 	}
 	.sports-top {
 	margin-bottom: 2em;
 	}
 	.photos h3 {
 	background: #00496d;
 	color: #fff;
 	font-size: 1.5em;
 	font-weight: 400;
 	padding: 9px 0 5px 10px;
 	font-family: Cairo;
 	margin-bottom: 1em;
 	}
 	#navo a {
 	margin-left: -1px;
 	line-height: 1.25;
 	color: rgb(0, 123, 255);
 	background-color: rgb(255, 255, 255);
 	padding: 0.5rem 0.75rem;
 	border-width: 1px;
 	border-style: solid;
 	border-color: rgb(222, 226, 230);
 	border-image: initial;
 	}
 	#navo a.activeSlide {
 	z-index: 1;
 	color: rgb(255, 255, 255);
 	background-color: rgb(0, 123, 255);
 	border-color: rgb(0, 123, 255);
 	}
 	.lnews {
 	direction: ltr;
 	position: relative;
 	width: 745px;
 	background-image: url("https://www.uj.edu.sa/Files/856/Galleries/7268/55928_latest-news.png");
 	background-repeat: no-repeat;
 	margin-bottom: 10px;
 	}
 	.marquee {
 	width: 625px;
 	line-height: 40px;
 	color: white;
 	white-space: nowrap;
 	overflow: hidden;
 	box-sizing: border-box;
 	}
 	.scroll {
 	display: inline-block;
 	padding-left: 100%;
 	animation: marquee 90s linear infinite;
 	}
 	.scroll:hover {
 	animation-play-state: paused;
 	}
 	.scroll a {
 	color: white;
 	}
 	.scroll a::after {
 	content: " * ";
 	}
 	.scroll a:last-child:after {
 	content: "";
 	}
 	@keyframes marquee {
 	0% {
 	transform: translate(-100%, 0);
 	}
 	100% {
 	transform: translate(0, 0);
 	}
 	}
.carousel-cell {
 	    min-height: 230px;
 	    min-width: 270px;
 	}
.carousel-cell{
        width: 500px;
      }
    .nav {
    padding-right: 0px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    height: auto;
    }
    .nav-link.active  {
    border: 1px solid #ddd;
    border-top: 2px solid #af9c6d !important;
    border-bottom: 1px solid #fff;
    }
    .active label {
      color: #555;
    }
.nav-item{
    padding-left: 0.7em;
} 
   .dropdown:hover > .dropdown-menu{ 
      display: block;
      
    }
    .dropend:hover > .dropdown-menu {
      display: block;
      top: 0;
      left: auto;
      right: 98%;
      margin-top: 0;
      margin-right: 0.125rem;
    }
.dropdown-item{
font-size: large;
color: rgba(0,0,0,.55);
padding-left: 0.5rem;
    padding-right: 0.5rem;
}
@media (min-width: 192px){
	.navbar-expand-lg .navbar-nav {
		flex-direction: row;
	}
}
@media (min-width: 192px){
	.navbar-expand-lg .navbar-nav .dropdown-menu {
		position: absolute;
	}
}

/* to deal with side menu */
.list_right {
	display: none;
}
.pagesuj {
	width: 974px;
}
.container {
	width: 984px;
	padding-right: 0px;
}
@media (min-width: 176px)
{
	.container, .container-sm {
		max-width: 100%;
	}
}
.thm-titlecustomstyle {
	margin-right: 14px;
}
.dropdown-toggle::after {
  font-family: 'FontAwesome';
  content: '\f105';
  border: 0px;
  vertical-align: -0.2em;
  transform: rotate(90deg);
}
.dropend .dropdown-toggle::after {
	vertical-align: -0.1em;
	font-family: 'FontAwesome';
	content: '\f105';
	border: 0px;
	transform: rotate(180deg);
}
.form-select {
    margin-right: 7px;
}
#BreadcrumbTB{
  display: none;
}
.page_title{
  background-image: url('https://www.uj.edu.sa/Files/856/Galleries/7273/55966_bg.png')
}
span#lblsite_name {
  line-height: 37px;
  font-size: smaller;
}
.container-fluid{
padding-right: 0;
}
.nav-item {
font-size: large;
padding-left: 0;
}
@media screen and (max-width: 1000px) {
.nav-item {
padding-left: 0.7em;
}
}
